// Colors

// white
$white: #ffffff;


//grey

// light grey
$lightgrey-0: #eee;


// dark grey
$darkgrey-0: #292929;

// gradients
$blue-gr: linear-gradient(to right bottom, #0066ff, #005ce6, #0052cd, #0049b5, #003f9d);
$blue-gr-2: linear-gradient(to right bottom, #009bff, #0090ed, #0085db, #007bca, #0070b9);